<h1>Mes Albums</h1>

<% if user_signed_in? && current_user.admin? %>
  <%= link_to 'Create New Album', new_album_path %>
<% end %>
<br>
<br>
<div class="albums-container">
  <% @albums.each do |album| %>
    <div class="album-preview">
      <div class="image-container">
        <%= image_tag album.photos.sample.image, class: "album-thumbnail" if album.photos.any? %>
        <% if user_signed_in? && current_user.admin? %>
          <%= link_to edit_photos_album_path(album), class: 'edit-icon' do %>
            <i class="fas fa-edit"></i> <!-- Icône Font Awesome -->
          <% end %>
        <% end %>
      </div>
      <h2><%= link_to album.name, album %></h2>
    </div>
  <% end %>
</div>
