// Import des variables et mixins pour les réutiliser dans les styles du carrousel
@import 'base/variables';
@import 'base/mixins';

// Styles pour le conteneur principal du carrousel
.carousel {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

// Styles pour l'image principale du carrousel
.main-image-element {
  width: 100%;
  max-width: 750px;
  height: 450px;
  object-fit: cover;
  border-radius: $border-radius;
  box-shadow: $box-shadow-default;
  cursor: zoom-in;
  /* Icône de zoom pour l'image principale */
}

// Conteneur pour les miniatures
.thumbnail-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: $spacing-small;
}

// Styles pour le conteneur des miniatures
.thumbnails {
  display: flex;
  justify-content: center;
  margin: 0 $spacing-small;
  /* Espace entre les flèches et les miniatures */
}

// Styles pour les miniatures
.thumbnail {
  width: 80px;
  height: 80px;
  margin: 0 $spacing-xsmall;

  &.active-thumbnail {
    border: 2px solid $primary-color;
    /* Ajout d'une bordure pour l'image active */
  }
}

// Styles pour les images des miniatures
.thumbnail-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: $border-radius-small;
}

// Styles pour les flèches de contrôle du carrousel
.control-left,
.control-right {
  font-size: 24px;
  /* Taille des flèches */
  text-decoration: none;
  /* Supprime le soulignement des liens */
  color: $text-color-dark;
  /* Couleur des flèches */
  padding: 0 $spacing-small;
  cursor: pointer;
  user-select: none;
  /* Empêche la sélection du texte */

  &:hover {
    color: $primary-color;
    /* Couleur au survol */
  }
}

.control-left {
  margin-right: $spacing-small;
}

.control-right {
  margin-left: $spacing-small;
}
