.header-actions {
  display: flex;
  justify-content: flex-end;
  /* Aligne le bouton à droite */
  margin-bottom: 20px;
  /* Ajoute un espacement en dessous du bouton */
}

.btn-create-album {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-create-album:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}
