.albums-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.album-preview {
  flex: 0 0 calc(33.333% - 20px);
  box-sizing: border-box;
  margin-bottom: 20px;
  text-align: center;
  /* Centre le texte sous l'image */
}

.image-container {
  position: relative;
  display: inline-block;
  /* Pour que l'image et l'icône soient alignées correctement */
}

.album-thumbnail {
  width: 450px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: block;
}

.edit-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  background-color: red;
  padding: 5px;
  border-radius: 50%;
  text-align: center;
  z-index: 10;
}

.edit-icon:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.album-title-light {
  font-size: 20px;
  /* Ajuste la taille de la police */
  font-weight: bold;
  /* Rend le texte en gras */
  color: #333;
  /* Couleur sombre pour un bon contraste */
  text-align: center;
  /* Centre le titre sous l'image de l'album */
  margin-top: 10px;
  /* Espace au-dessus du titre */
  margin-bottom: 0;
  /* Supprime l'espace en dessous du titre */
  text-transform: capitalize;
  /* Met la première lettre de chaque mot en majuscule */
  border-bottom: 2px solid #007bff;
    /* Ajoute une bordure inférieure pour séparer le titre visuellement */
    display: inline-block;
    /* Assure que le soulignement ne s'étende pas sur toute la largeur */
}

.album-title-light span {
  font-weight: normal;
  /* Met le nombre de photos en poids normal */
  color: #666;
  /* Couleur plus claire pour le nombre de photos */
  font-size: 16px;
  /* Taille de police plus petite pour le nombre de photos */
}
